
$enable-rounded: false;
$font-size-base: .75rem;
$breadcrumb-margin-bottom: 0rem;
$breadcrumb-bg: $white;
$breadcrumb-padding-y: .25rem;
$breadcrumb-padding-x: .25rem;
$breadcrumb-item-padding: .25rem;