#wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 20px;
    padding: 20px;
}
#header {
    width: 100%;
    height: 32px;
    padding-left: 90px;
    padding-top: 2px;
    font-weight: bold;
    font-style: italic;
    color: #b8d7f1;
    text-shadow: -1px -1px 1px #073255, 1px -1px 1px #073255, -1px 1px 1px #073255, 1px 1px 1px #073255;
}
.cute-text {
    font-weight: bold;
    font-style: italic;
    color: #b8d7f1;
    text-shadow: -1px -1px 1px #073255, 1px -1px 1px #073255, -1px 1px 1px #073255, 1px 1px 1px #073255;
}
.objectum-title {
    color: white;
    text-shadow: -1px -1px 1px #073255, 1px -1px 1px #073255, -1px 1px 1px #073255, 1px 1px 1px #073255;
}
.auth {
    margin: 5px;
    min-width: 250px;
}
.treegrid-button {
    width: 60px;
}
.menu {
    width: 250px;
    margin-top: 50px;
}
.menu-icon {
    width: 25px;
    text-align: center;
}
.numberfield {
    width: 200px !important;
}
.datefield {
    width: 200px !important;
}
.booleanfield {
    margin-top: 2px;
}
.filter-select {
    width: 100% !important;
}
.filter-block {
    height: 115px;
}
.objectum-table {
    overflow: auto;
    display: block;
    table-layout: auto;
}
.sort {
    cursor: pointer;
}
.sort:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 10px;
    margin-right: 5px;
    content: "\F0DC";
}
.sort-up {
    cursor: pointer;
}
.sort-up:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 10px;
    margin-right: 5px;
    content: "\F0DE";
}
.sort-down {
    cursor: pointer;
}
.sort-down:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 10px;
    margin-right: 5px;
    content: "\F0DD";
}
.actions {
    width: 100%
}
.jsoneditor-codemirror {
    height: 300px;
}
.refresh-btn-loading {
    margin-top: 8px;
    margin-left: 11px;
    margin-right: 10px;
}
