.content {
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 20px;
    padding: 20px;
}
#header {
    width: 100%;
    height: 32px;
    padding-left: 10px;
    padding-top: 7px;
}
.cute-text {
    font-weight: bold;
    font-style: italic;
    text-shadow: -1px -1px 1px #073255, 1px -1px 1px #073255, -1px 1px 1px #073255, 1px 1px 1px #073255;
}
.objectum-title {
    color: white;
    text-shadow: -1px -1px 1px #073255, 1px -1px 1px #073255, -1px 1px 1px #073255, 1px 1px 1px #073255;
}
.auth {
    margin-top: 50px;
    min-width: 250px;
}
.treegrid-button {
    width: 60px;
}
.menu {
    width: 250px;
    margin-top: 50px;
}
.menu-icon {
    width: 25px;
    text-align: center;
}
.numberfield {
    max-width: 150px !important;
    min-width: 70px !important;
}
.datefield {
    max-width: 150px !important;
}
.choosefield {
    min-width: 120px !important;
}
.stringfield {
    min-width: 100px !important;
}
.booleanfield {
    margin-top: 2px;
}
.filter-select {
    width: 100% !important;
}
.filter-block {
    height: 115px;
    min-width: 140px;
}
.objectum-table {
    overflow: auto;
    display: block;
    table-layout: auto;
}
.sort {
    cursor: pointer;
}
.sort:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 10px;
    margin-right: 5px;
    content: "\F0DC";
}
.sort-up {
    cursor: pointer;
}
.sort-up:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 10px;
    margin-right: 5px;
    content: "\F0DE";
}
.sort-down {
    cursor: pointer;
}
.sort-down:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 10px;
    margin-right: 5px;
    content: "\F0DD";
}
.jsoneditor-codemirror {
    height: 300px;
}
.refresh-btn-loading {
    margin-top: 8px;
    margin-left: 11px;
    margin-right: 10px;
}
._dictfield-input {
    min-width: 70px;
    max-height: 30px;
}
._dictfield-dialog {
    position: relative;
}
._dictfield-filter {
    position: absolute;
    left: -1px;
    top: 2px;
    width: 400px;
    height: 65px;
    z-index: 1000;
}
._dictfield-params {
    position: absolute;
    left: -1px;
    top: 66px;
    width: 400px;
    min-height: 50px;
    max-height: 300px;
    z-index: 2147483647;
    overflow: auto;
}
