.auth {
    margin-top: 5em;
    min-width: 21em;
}
.treegrid-button {
    width: 7em;
}
.menu {
    width: 21em;
    margin-top: 2.7em;
}
.menu-icon {
    width: 2em;
    text-align: center;
}
.numberfield {
    max-width: 11em;
    min-width: 5em;
}
.datefield {
    max-width: 12em;
}
.choosefield {
    min-width: 11em;
}
.dictfield {
    min-width: 11em;
}
.dictfield-dialog {
    position: relative;
}
.dictfield-filter {
    position: absolute;
    left: -1px;
    top: 2px;
    width: 33em;
    height: 5em;
    z-index: 1000;
}
.dictfield-params {
    position: absolute;
    left: -1px;
    top: 5em;
    width: 33em;
    min-height: 5em;
    max-height: 25em;
    z-index: 1000;
    overflow: auto;
}
.stringfield {
    min-width: 10em;
}
.booleanfield {
    margin-top: 2px;
}
.filter-select {
    width: 100%;
}
.filter-block {
    width: 18em;
}
.objectum-table {
    overflow: auto;
    display: block;
    table-layout: auto;
}
.sort {
    cursor: pointer;
}
.sort:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 10px;
    margin-right: 5px;
    content: "\F0DC";
}
.sort-up {
    cursor: pointer;
}
.sort-up:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 1em;
    margin-right: 0.5em;
    content: "\F0DE";
}
.sort-down {
    cursor: pointer;
}
.sort-down:before {
    font-family: "Font Awesome 5 Free";
    top: 0;
    left: 1em;
    margin-right: 0.5em;
    content: "\F0DD";
}
.jsoneditor-codemirror {
    height: 300px;
}
.grid-label {
    height: 3em;
}
